(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("wave.vcd"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "testbench",
                "my_dutty",
                "dutty",
                "u67",
            ],
        ))),
        displayed_items_order: [
            (4),
            (11),
            (14),
            (1),
            (3),
            (8),
            (15),
            (10),
            (16),
            (17),
            (6),
            (5),
            (18),
            (19),
            (7),
            (9),
            (20),
            (21),
            (22),
            (23),
            (36),
            (24),
            (37),
            (35),
            (25),
            (26),
            (27),
            (28),
            (29),
            (30),
            (31),
            (32),
            (33),
            (38),
            (34),
            (52),
            (65),
            (53),
            (54),
            (55),
            (60),
            (61),
            (62),
            (63),
            (64),
            (40),
            (47),
            (48),
            (49),
            (51),
            (41),
            (42),
            (43),
            (44),
            (45),
            (46),
        ],
        displayed_items: {
            (19): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (46): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "passed",
                ),
                color: None,
                background_color: None,
                display_name: "passed [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "result_not",
                ),
                color: None,
                background_color: None,
                display_name: "result_not [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "A",
                ),
                color: None,
                background_color: None,
                display_name: "…dutty.A [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "result_or",
                ),
                color: None,
                background_color: None,
                display_name: "result_or [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (32): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (61): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "sel_output",
                ),
                color: None,
                background_color: None,
                display_name: "sel_output [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (40): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (60): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "more_than_8shift",
                ),
                color: None,
                background_color: None,
                display_name: "more_than_8shift",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "o_result",
                ),
                color: None,
                background_color: None,
                display_name: "o_result [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "B",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.B [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "result_xor",
                ),
                color: None,
                background_color: None,
                display_name: "result_xor [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (21): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (64): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "stage3",
                ),
                color: None,
                background_color: None,
                display_name: "stage3 [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (43): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (65): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "mode",
                ),
                color: None,
                background_color: None,
                display_name: "mode",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "B",
                ),
                color: None,
                background_color: None,
                display_name: "…u67.B [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (25): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "op_sel",
                ),
                color: None,
                background_color: None,
                display_name: "op_sel [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "result",
                ),
                color: None,
                background_color: None,
                display_name: "result [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "failed",
                ),
                color: None,
                background_color: None,
                display_name: "failed [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "A",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.A [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (14): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u01",
                        ],
                    ),
                    name: "Co",
                ),
                color: None,
                background_color: None,
                display_name: "Co",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (41): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "result_add",
                ),
                color: None,
                background_color: None,
                display_name: "result_add [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "result_and",
                ),
                color: None,
                background_color: None,
                display_name: "result_and [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "expected_carry",
                ),
                color: None,
                background_color: None,
                display_name: "expected_carry",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (63): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "stage2",
                ),
                color: None,
                background_color: None,
                display_name: "stage2 [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (62): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "stage1",
                ),
                color: None,
                background_color: None,
                display_name: "stage1 [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "o_result",
                ),
                color: None,
                background_color: None,
                display_name: "o_result [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "carry",
                ),
                color: None,
                background_color: None,
                display_name: "carry",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (44): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "i_op_sel",
                ),
                color: None,
                background_color: None,
                display_name: "i_op_sel [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (42): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "B",
                ),
                color: None,
                background_color: None,
                display_name: "…dutty.B [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "A",
                ),
                color: None,
                background_color: None,
                display_name: "…dutty.A [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "B",
                ),
                color: None,
                background_color: None,
                display_name: "…dutty.B [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "rst_n",
                ),
                color: None,
                background_color: None,
                display_name: "rst_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "S",
                ),
                color: None,
                background_color: None,
                display_name: "…u67.S [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (20): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (45): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (53): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u67",
                        ],
                    ),
                    name: "A",
                ),
                color: None,
                background_color: None,
                display_name: "…u67.A [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (52): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u01",
                        ],
                    ),
                    name: "A",
                ),
                color: None,
                background_color: None,
                display_name: "…u01.A [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u01",
                        ],
                    ),
                    name: "S",
                ),
                color: None,
                background_color: None,
                display_name: "…u01.S [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "o_carry",
                ),
                color: None,
                background_color: None,
                display_name: "o_carry",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (22): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                        ],
                    ),
                    name: "result_shift",
                ),
                color: None,
                background_color: None,
                display_name: "result_shift [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_dutty",
                            "dutty",
                            "u01",
                        ],
                    ),
                    name: "invert_B",
                ),
                color: None,
                background_color: None,
                display_name: "invert_B [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "expected_result",
                ),
                color: None,
                background_color: None,
                display_name: "expected_result [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (18): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 65,
        viewports: [
            (
                curr_left: (0.9897365776611282),
                curr_right: (0.9905923324676791),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            57265,
        ])),
        markers: {},
        focused_item: Some((36)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 283.31754,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((36)),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)